@import '../../../sass/main.scss';
.conatiner {
  text-align: center;
  padding: 0px;
  color: $color-primary-grey;
  margin-top: 120px;
  padding: 20px;
  padding-right: 40px;
  display: flex;
  justify-content: center;
}
.spinner {
  display: inline-block;
  width: 35px;
  height: 35px;
}
.spinner:after {
  content: ' ';
  display: block;
  width: 35px;
  height: 35px;
  margin: 0px;
  margin-right: 20px;
  border-radius: 50%;
  border: 12px solid $color-primary-black-dark;
  border-color: $color-primary-black-dark transparent $color-primary-black-dark
    transparent;
  animation: spinner 1.2s linear infinite;
}

@media only screen and (max-width: 900px) {
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
