@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
$color-primary-black-light: #414242;
$color-primary-black-dark: #2c2c2c;
$color-primary-black-dark-transparent: #2c2c2ce8;
$color-primary-blue: #075674;
$color-primary-blue-transparent: #075674b3;
$color-primary-grey: #dcdcdc;
$color-primary-grey-light: #686868;
$color-primary-grey-transparent: rgba(222, 222, 222, 0.7);
$color-primary-red-transparent: rgba(229, 107, 107, 0.8);
$color-primary-red: #c00e2c;
$color-primary-green: #219c4c;
$primary-font: 'Viga', sans-serif;
$btn-fonts: 'Roboto', sans-serif;
