@import '../sass/main.scss';

.auth-section {
  background-image: url('../img/auth-background-web-blur.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: $primary-font;
  overflow: hidden;
  &__wrapper {
    background-color: $color-primary-grey-transparent;
    border-radius: 10px;
    width: 60%;
    min-height: 550px;
    height: auto;
  }
  .auth-header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    &__img {
      //to be edited
      width: 40%;
      display: flex;
      justify-content: center;
      margin-left: 40px;

      img {
        width: 100%;
      }
    }
  }
  .auth-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
    margin-top: 40px;
    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: baseline;
      align-items: center;
      width: 50%;
      height: 100%;
    }
    &__nav {
      margin-bottom: 30px;
      &__sign-nav-btn {
        color: $color-primary-black-dark;
        background-color: none;
        text-decoration: none;
        padding: 10px 25px;
        border-radius: 25px;
        margin-right: 10px;
        transition: all 0.3s;
      }
      &__sign-nav-btn:hover {
        background-color: $color-primary-blue-transparent;
      }
      &__sign-nav-btn-active {
        color: $color-primary-grey;
        background-color: none;
        text-decoration: none;
        padding: 10px 25px;
        border-radius: 25px;
        margin-right: 10px;
        background-color: $color-primary-blue;
        cursor: default;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .auth-section {
    overflow: hidden;
    &__wrapper {
      background-color: $color-primary-grey-transparent;
      border-radius: 10px;
      width: 90%;
      min-height: 400px;
      height: auto;
      overflow: hidden;
      padding: 20px 0px;
    }
    .auth-header {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 10px;
      &__img {
        //to be edited
        width: 70%;
        display: flex;
        justify-content: center;
        margin-left: 17px;
        img {
          width: 100%;
        }
      }
    }
    .auth-content {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
      padding: 20px 0px;
      margin-top: 15px;
      &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
        width: 100%;
        height: 100%;
      }
    }
  }
}
