@import '../../sass/main.scss';

.verify-section {
  background-image: url('../../img/auth-background-web-blur.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: $primary-font;
  overflow: hidden;
  &__wrapper {
    background-color: $color-primary-grey-transparent;
    border-radius: 10px;
    width: 60%;
    min-height: 550px;
    height: auto;
  }
  .auth-header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    &__img {
      //to be edited
      width: 40%;
      display: flex;
      justify-content: center;
      padding-left: 30px;
      img {
        width: 100%;
      }
    }
  }
  .verify-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    padding: 20px;
    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: baseline;
      align-items: center;
      width: 50%;
      height: 100%;
    }
    &__nav {
      margin-bottom: 20px;
      &__sign-nav-btn {
        color: $color-primary-black-dark;
        background-color: none;
        text-decoration: none;
        padding: 10px 25px;
        border-radius: 25px;
        margin-right: 10px;
      }
      &__sign-nav-btn:hover {
        background-color: $color-primary-blue-transparent;
      }
      &__sign-nav-btn-active {
        color: $color-primary-grey;
        background-color: none;
        text-decoration: none;
        padding: 10px 25px;
        border-radius: 25px;
        margin-right: 10px;
        background-color: $color-primary-blue;
        cursor: default;
      }
    }
  }
}
.error-message {
  margin-top: 60px;
  background-color: white;
  padding: 0px 10px;
  border-radius: 5px;
  color: $color-primary-red;
  margin-bottom: 20px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  img {
    width: 20px;
    margin-right: 5px;
  }
}
.sucess-message {
  margin-top: 60px;
  background-color: white;
  padding: 0px 10px;
  border-radius: 5px;
  color: $color-primary-green;
  margin-bottom: 20px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  img {
    width: 20px;
    margin-right: 5px;
  }
}

@media only screen and (max-width: 900px) {
  .verify-section {
    background-image: url('../../img/auth-background-web-blur.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: $primary-font;
    overflow: hidden;
    &__wrapper {
      background-color: $color-primary-grey-transparent;
      border-radius: 10px;
      width: 90%;
      min-height: 350px;
      height: auto;
    }
    .auth-header {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 0px;
      &__img {
        //to be edited
        width: 70%;
        display: flex;
        justify-content: center;
        margin-left: 0px;
        img {
          width: 100%;
        }
      }
    }
    .verify-content {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 250px;
      padding: 0px;
      &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
        width: 100%;
        height: auto;
      }
    }
  }
  .error-message {
    margin-top: 0px;
    background-color: white;
    padding: 0px 10px;
    border-radius: 5px;
    color: $color-primary-red;
    margin-bottom: 20px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    img {
      width: 20px;
      margin-right: 5px;
    }
  }
  .sucess-message {
    margin-top: 60px;
    background-color: white;
    padding: 0px 10px;
    border-radius: 5px;
    color: $color-primary-green;
    margin-bottom: 20px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    img {
      width: 20px;
      margin-right: 5px;
    }
  }
}
