@import '../../sass/main.scss';
.form-container {
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 50px;
}

@media only screen and (max-width: 900px) {
  .form-container {
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: -60px;
  }
}
