@import '../../sass/main.scss';
.form-control {
  background-color: white;
  border-radius: 5px;
  width: 218px;
  height: 28px;
  margin-bottom: 20px;
  border: 2px solid white;
  overflow: hidden;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: $primary-font;
  transition: all 0.4s;
  &__active {
    border: 1px solid $color-primary-blue;
  }
  input {
    height: 100%;
    border: none;
    padding: 2px 10px;

    &:focus {
      outline: none;
    }
    &:active {
      outline: none;
    }
  }
  &__img {
    height: 100%;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 70%;
      height: auto;
    }
  }
}
.form-control--active {
  background-color: white;
  border-radius: 5px;
  border: 2px solid $color-primary-blue-transparent;
  width: 218px;
  height: 28px;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: $primary-font;
  transition: all 0.4s;
  &__active {
    border: 3px solid $color-primary-blue;
  }
  input {
    height: 100%;
    border: none;
    padding: 2px 10px;
    &:focus {
      outline: none;
    }
    &:active {
      outline: none;
    }
  }
  &__img {
    height: 100%;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 70%;
      height: auto;
    }
  }
}

.form-control--error {
  background-color: $color-primary-red-transparent;
  border-radius: 5px;
  border: 2px solid $color-primary-red-transparent;
  width: 218px;
  height: 28px;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: $primary-font;
  transition: all 0.4s;
  &__active {
    border: 2px solid $color-primary-blue;
  }
  input {
    height: 100%;
    border: none;
    padding: 2px 10px;
    background-color: transparent;
    color: white;

    &:focus {
      outline: none;
    }
    &:active {
      outline: none;
    }
  }
  &__img {
    height: 100%;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 70%;
      height: auto;
    }
  }
}
